.architecture-canvas {
	position: relative;

	img {
		position: relative;
		width: 100%;
		height: auto;
	}
}

@include media( '>medium' ) {

	.media {

		.section-inner {
			padding-bottom: 144px;
		}

		.section-paragraph {
			padding-left: 72px;
	    	padding-right: 72px;
			margin-bottom: 80px;
		}
	}
}
