.technologies {

	.section-title {
		margin-bottom: 48px;
	}
}

.technologies-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: -30px;
    margin-left: -30px;

    &:first-of-type {
        margin-top: -16px;
    }

    &:last-of-type {
        margin-bottom: -16px;
    }
}

.technology {
    padding: 16px 30px;
    width: 380px;
    max-width: 380px;
    flex-grow: 1;
}

.technology-inner {
    height: 100%;
}

.technology-title {
	@include font-family(base);
	@include font-weight(medium);
	text-align: center;
}

@include media( '>medium' ) {

	.technologies {
		position: relative;

		.section-inner {
			padding-bottom: 100px;
		}

		.section-title {
			position: relative;
            margin-bottom: 80px;
        }
	}

    .technologies-wrap {

        &:first-of-type {
            margin-top: -32px;
        }

        &:last-of-type {
            margin-bottom: -32px;
        }
    }

    .technology {
        padding: 32px 30px;
    }
}
